<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title><%= title %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<!-- load custom css -->
	<link rel="stylesheet" href="/css/style.css">
	
    <title>Hello, world!</title>
  </head>
  <!-- set area that angular controller can use -->
  <body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1> Todo Dashboard !!! <span id="todos-counter" class="badge badge-info"></span></h1>
		</div>
		<div id="todo-list" class="row">
			<div id="show-list-todo" class="col-sm-6 offset-sm-3">
				
					<!-- list todos show here -->
				
			</div>
		</div>
		<div id="todo-form" class="row">
			<div class="col-sm-8 offset-sm-2 text-center">
				<form>
					<div class="form-group">
						<!-- <label for="my-input">Công việc cần làm hôm nay</label> -->
						<input id="todo-input" class="form-control form-control-lg text-center" type="text" name="" placeholder="What do you want to do today?">
					</div>
					<button id="createTodo" type="submit" class="btn btn-primary btn-lg">Add</button>
				</form>
			</div>
		</div>
	</div>

	
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- load font awesome -->
	<script src="https://kit.fontawesome.com/0a712091fa.js"></script>
	<!-- Optional JavaScript -->
	<script src="/js/main/app.js"></script>
	
</body>
</html>